localhost {
    tls {
        on_demand
    }

    handle_path /web/* {
        reverse_proxy http://discord-bot:5000
    }

    handle_path /storage-console/* {
        reverse_proxy http://object-storage:9001
    }

    handle_path /storage/* {
        reverse_proxy http://object-storage:9000

        header {
            # Dissalow javascript execution for hosted files - could be a security risk
            Content-Security-Policy "default-src 'self'; script-src 'none'; object-src 'none'; frame-ancestors 'none';"
            X-Content-Type-Options "nosniff"
            X-Frame-Options "DENY"
        }
    }

    handle /* {
        root /var/www/static
        file_server
    }
}